$searchFieldWidth: 400px;

.app {
	width: 1200px;
	padding-top: 20px;
	margin: 0 auto;

	&-title {
		text-align: center;
	}

	&-search {
		margin-top: 30px;
		text-align: center;

		&-field {
			display: inline-block;
			width: $searchFieldWidth;

			.input {
				width: 100%;
			}

			.results {
				width: $searchFieldWidth !important;

				.result {
					padding: 10px !important;
				}
			}
		}

		&-results {
			&-item {
				display: flex;
				align-items: center;

				&__poster {
					display: flex;

					img {
						max-width: 40px;
						max-height: 60px;
					}
				}

				&__info {
					padding-left: 10px;
					text-align: left;

					align-self: stretch;
					display: flex;
					flex-direction: column;
					justify-content: center;

					&-title {
						white-space: nowrap;
					}

					&-stars {
						color: rgba(0, 0, 0, 0.54);

						&__name {
							white-space: nowrap;
						}
					}
				}
			}
		}
	}

	&-movies {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 0 30px 0;

		&-card {
			&.ui.card {
				margin: 0 15px 0 0;
				width: 168.5px;
			}

			&__title {
				font-size: 1em !important;
			}

			&__bottom {
				display: flex;

				&_liked {
					color: #4caf50 !important;
				}

				&_disliked {
					color: #f44336 !important;
					align-items: center;
				}
			}
		}
	}
}
